In [ ]:
1# identify the primary keys and foreign keys in maven movies db. Discuss the differences
Ans: primary key is also known as unique key of a particular table . it helps in retrieving data of a particular person or a thing from same table  and it doest not link
     with other table . it avoid null values from the table .
    example: studentid , employee_id, adhaar_number etc.

    foreign key: A foreign key is a column or a set of columns in one table that references the primary key of another table.
    It is used to enforce referential integrity between the two tables.foreign key create relationship between two tables .
    foreign key in one table refers to the primary key in another table.


  2 #List all details of actors
   #code: select * from actors

  3 #List all customer information from DB
    # code: select * from customer


  4#list different countries
   # code: select distinct(country) from country

  5# display all active customers
   #code:


  6#List of all rental IDs for customer with ID 1.
   # code: select count(rental_id) from rental where customer_id = 1

  7#display all the films whose rental duration is greater than 5
   # code: select * from film where rental_duration > 5


  8# list the total number of films whose replacement cost is greater than $15 and less than $20
   # code: select * from film where replacement_cost >15 and replacement_cost <20

  9# display the count of unique first names of actors
   # code: select distinct(count(first_name)) from actors

  10# display the first 10 records from the customer table
    # code: select * from customer limit 10

  11# display the first 3 records from the customer table whose first name starts with ‘b’
    # code: select * from customer where first_name like 'b%';

  12# display the names of the first 5 movies which are rated as ‘G’.
    # code: select title from film where rating like 'G' limit 5

  13# Find all customers whose first name starts with "a"
    # code: select * from customer where first_name like 'a%'

  14# Find all customers whose first name ends with "a".
    # code: select * from customer where first_name like '%a'

  15# Display the list of first 4 cities which start and end with ‘a’
    # code: select city from city where city like 'a%a' limit 4

  16# Find all customers whose first name have "NI" in any position.
    # code: select first_name from customer where first_name like '%ni%'

  17# find all customers whose first name have "r" in the second position
    # code: select * from customer where first_name like '_r'

  18# find all customers whose first name starts with "a" and are at least 5 characters in length
    # code: select * from customer where first_name like 'a____%'

  19# find all customers whose first name starts with "a" and ends with "o"
    # code: select * from customer where first_name like 'a%o'

  20# Get the films with pg and pg-13 rating using IN operator.
    # code: select * from film where rating in ('pg' , 'pg-13')

  21# Get the films with length between 50 to 100 using between operator.
    # code: select * from film where length betweeen 50 and 100

  22# get the top 50 actors using limit operator
    # code: select * from actor limit 50

  23# get unique film_id from inventory
    # code: select distinct(film_id) from inventory